<div class="container">

    <form action="/submit" method="post">
        





        <div class="workflow">
            <div class="task start">
                <button>Start</button>
            </div>







            <div class="connector"></div>

            
            <div class="task">
                <div class="ellipse">Task 1</div>
                <p>Task 1</p>
            </div>
            <div class="connector"></div>
            <div class="task">
                <div class="ellipse">Task 2</div>
                <p>Task 2</p>
            </div>
            <div class="connector"></div>
            <div class="task end">
                <button>End</button>
            </div>
        </div>

        
        
        








      
    </form>
    </div> 
    
    
    
    
      
      
      
      
